root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 2
tab_width = 2

# Пространства имён в стиле file-scoped (namespace Foo.Bar;)
csharp_style_namespace_declarations = file_scoped:warning

# Явно требуем фигурные скобки для читаемости
csharp_prefer_braces = true:suggestion

# var только когда тип очевиден из правой части
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

[*.{csproj,sln}]
indent_style = space
indent_size = 2
